h1 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  color: blue;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
 .movies {
   width: 100%;
 }
 .none-display {
   display: none;
 }
 .display {
   display: unset;
 }
 .dark-theme {
   background-color: darkgray;
 }
